html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

paper-button.colored {
  color: #4285f4;
}

paper-button[raised].colored {
  background: #3e50b4;
  color: #fff;
}

paper-button.custom > core-icon {
  margin-right: 4px;
}

paper-button.hover:hover {
  background: #eee;
}

paper-button.blue-ripple::shadow #ripple {
  color: #4285f4;
}

[drawer] {
  background-color: #FFF;
  border-right: 1px solid #ccc;
  z-index: 1;
}

[main] {
  position: relative;
  z-index: 0;
}

#i-canopy-workspace {
  box-shadow: 0 0 3px #607D8B;
}

#i-render-setting {
}

#i-render-setting-container {
  padding: 5px 0 10px 0;
  background-color: #424242;
}

#i-editor {
  padding: 10px 0px 10px 10px;
}

#i-console {
  font-size: 12px;
  font-family: monospace;
  line-height: 16px;
  color: #EC407A;
  background-color: #FCE4EC;
  padding: 5px;
}

#i-canopy-view {
  padding: 10px;
  background-color: #ECEFF1;
}

#i-minimap {
  width: 100%;
  background-color: #eee;
  margin-bottom: 5px;
}

#i-waveform {
  border-radius: 5px;
  box-shadow: 0 0 3px #607D8B;
  margin-bottom: 10px;
}

#i-specgram {
  border-radius: 5px;
  box-shadow: 0 0 3px #607D8B;
}

/** custom core-icon styling */
core-item {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

core-item.c-icon-etc {
  color: #656565;
}

/** custom paper-input styling */

paper-input-decorator {
  width: 450px;
}

.c-setting-input {
  color: #CFD8DC;
}

.c-setting-input /deep/ .label-text,
.c-setting-input /deep/ .error {
  color: #90A4AE;
}

.c-setting-input.invalid /deep/ .floated-label .label-text,
.c-setting-input /deep/ .error {
  color: #f06292;
}

.c-setting-input[focused] /deep/ .floated-label .label-text {
  color: #FFFFFF;
}

.c-setting-input /deep/ .focused-underline {
  background-color: #FFFFFF;
}