html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

paper-button.colored {
  color: #4285f4;
}

paper-button[raised].colored {
  background: #3e50b4;
  color: #fff;
}

paper-button.custom > core-icon {
  margin-right: 4px;
}

paper-button.hover:hover {
  background: #eee;
}

paper-button.blue-ripple::shadow #ripple {
  color: #4285f4;
}

#i-canopy-workspace {
  box-shadow: 0 0 3px #607D8B;
}

#i-render-options {
  height: 60px;
  padding: 5px 15px;
}

#i-editor {
  padding: 10px 0px 10px 10px;
}

#i-console {
  font-size: 12px;
  font-family: monospace;
  line-height: 16px;
  color: #EC407A;
  background-color: #FCE4EC;
  padding: 5px;
}


#i-canopy-view {
  padding: 10px;
  background-color: #ECEFF1;
}

#i-minimap {
  width: 100%;
  background-color: #eee;
  margin-bottom: 5px;
}

#i-waveform {
  border-radius: 5px;
  box-shadow: 0 0 3px #607D8B;
}