#canopy-drawer [main] {
  background-color: var(--google-grey-100);
}

#canopy-drawer [drawer] {
  border-right: 1px solid var(--google-grey-300);
}

#canopy-drawer[right-drawer] [drawer] {
  border-left: 1px solid var(--google-grey-300);
}