body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

.cnp-toolbar {
  color: hsla(200,18%,90%,1);
  background: hsla(200,18%,20%,1);
  height: 36px;
}

#eGistLoader {
  width: 320px;
}

.c-gistloader-title {
  font-family: Roboto;
  padding-left: 1em;
  font-size: 1.2em;
  background-color: #E8EAF6;
  height: 64px;
  line-height: 64px;
}

.c-about {
  border-top: 1px solid #E8EAF6;
  height: 64px;
}

.c-about paper-item {
  font-size: 0.85em;
}

.c-about-link {
  color: #455A64;
  text-decoration: none;
}

.c-about-icon {
  margin-right: 0.2em;
}

.c-canopy-minimap {
  height: 64px;
}

.c-canopy-coder {
  position: fixed;
  width: 45%;
  height: 60%;
  bottom: 0;
  right: 25px;
}

.c-canopy-spectra {
  position: fixed;
  width: 45%;
  height: 256px;
  bottom: 25px;
  left: 25px;
}
